<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provisions for Senior Citizens</title>
    <link rel="stylesheet" href="/static/citizen.css">
</head>
<body>
    <section>
        <nav >
            <ul>
                <li id="h">home</li>
                <li>contact</li>
            </ul>
        </nav>
        <div class="top-bg">
            <h3 class="heading">Special Provisons for Senior citizen <span class="fade">on flight travel</span> </h3>
        </div>
        <div class="box1">
            <div class="desc">
                <h3 class="sub-head">*Offers on flights for Senior citizens.</h3>
                <p> Citizens of India are now looking at a concrete possibility of lowered regulations and risks of Covid-19 and can finally start planning our dream trips across the world. <br><br>
                    Seniors can now finally be at ease and enjoy some well-deserved off time.However, flight tickets can cost a bomb, there are many lesser-known senior citizen concession on flights. These concessions or discounts can vary from one airline to another.
                </p>
            </div>
            <div class="stud-img"><img src="/static/images/citi2.webp" alt=""></div>
        </div>
        <div class="title-info">
            <h2 >*Concession for senior citizens on flights</h2>
        </div>
        <div class="box2">
            <div class="stud-img">
                <img src="/static/images/citi3.webp" >
            </div>
            <div class="desc">
                <ol  type="1" >
                    <span class="b">1. Air India Senior Citizen Discount: </span>
                    <li>
                        Air India announced an offer for their beloved senior customers and the concession they offered is up to 50% discounts on their flight tickets. You can avail of this offer on most of their air routes, and it can be easily found on their website.
                        <ul>
                            <li>This scheme is provided for people above the age of 60, and the ticket should be bought at least 3 days before the scheduled flight.</li>
                            <li>To be eligible for this offer, the senior needs to be over 60 years at the date of the journey. 
                            You will require a valid photo ID that mentions your date of birth like a Pan card, Voter’s ID, Aadhar card, Driver’s license, or even the senior citizen ID card that is offered by Air India.  </li>
                            
                        </ul>

                    </li>
                </ol>
            </div>
        </div>
        <div class="box3">
            <div class="desc">
                <ul>
                    <span class="b">2. Indigo Senior Citizen Concession:  </span>
                    <li>Indigo airlines introduced their senior citizen concession where people over the age of 60 get up to 10% off on their base fare price, this offer is available through their website where you can opt for the senior citizen discount.
                    </li>
                    <li>This scheme is available for senior citizens over the age of 60 who will need to bring a valid Identification source that has their correct date of birth on it. Failure to do so will result in charging prevailing fees.</li>
                    <li>If you book your ticket under the 6E senior citizen discount, your bookings are allowed to be changed or cancelled.  
                        This scheme discount however cannot be combined with other discounts/promotions available on the website.  </li>
                </ul>
            </div>
            <div class="stud-img"><img src="/static/images/citi4.jpg" alt=""></div>
        </div>
        <div class="box3">
            <div class="stud-img"><img src="/static/images/flight12.webp" alt=""></div>
            <div class="desc">
                <ul>
                    <span class="b">3.GoAir Senior Citizen Discount</span>
                    <li>GoAir is currently offering an 8% discount on their base price for both their domestic and international flights for their senior customers.   </li>
                    <li>The website specifies that bookings made under this scheme are non-transferable and only available to people over the age of 60.   
                        You will need to carry a valid form of ID that has your correct date of birth printed on it. Failing to do so will result in no discount and the person in question will have to pay the fare that was previously discounted at the time of booking.  </li><br>

                    <span class="b">4.Jet Airways Senior Citizen Flight Concession </span>
                    <li>Jet Airways is providing their senior flyers with an 8% exclusive discount on their flight tickets, given that the ticket is purchased at least 15 days before the scheduled date of journey. </li>
                    <li>To avail of this offer, you can book through their website or mobile application. The person availing the offer needs to be over the age of 60, and have a valid ID with their DOB printed on it. </li>
                </ul>
            </div>

        </div>

    </section>
    
</body>
</html>