<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Guidelines</title>
    <link rel="stylesheet" href="/static/cov.css">
</head>
<body>

    <section>
        <nav >
            <ul>
                
            </ul>
        </nav>
        <div class="top-bg">
            <h3 class="heading">Covid Guidelines during <span class="fade">Flight travel</span> </h3>
        </div>
        <div class="guidelines">
            <div class="rules">
                <h3>Passengers good health and safety is very essestial for us.It is important to act in accordance with all the  safety, hygiene, and sanitization guidelines</h3>
                <ul>

                        <h2 class="sub-head">Guidelines for Domestic passengers :</h2>

                    <li>
                        1. Different state governments have established their own set of guidelines and regulations for domestic travellers arriving at their airports. 
                    </li>
                    <li>
                        2. Before you travel, please read and understand the guidelines of the respective state/city you will be visiting, and follow them to make your trip arrangements easier.
                    </li>
                    <li>
                        <b>Note:</b> State restrictions are subject to change; please check the state government website for more information.
                    </li>
                </ul>
            </div>
            <div class="im">
                <img src="/static/images/covid3.png" alt="Covid guidelines">
            </div>
        </div>
        <div class="rules n">
            <ul>
                <h2 class="sub-head">General Guidelines for Domestic Air Travel :</h2>
                <li>1. Before entering the airport terminal, passengers are requested to wear a face mask as per prevailing regulations. They will continue to wear the mask throughout their journey until they exit the airport</li>
                <li>2. Passengers are also encouraged to use a face shield for additional protection</li>
                <li>3. Passengers are advised not to travel and quarantine themselves if they exhibit symptoms</li>
                <li>4. Passengers may be fined for breaking COVID-19 protocols or not wearing a mask</li>
                <li>5. Passengers are requested to maintain social distancing</li>
                <li>6. During arrival and departure at the airport terminal, passengers can sanitise their bags as per the availability of sanitization machines at the airports</li>
            </ul>
        </div>
    </section>
    
</body>
</html>