<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offers with Credit Cards </title>
    <link rel="stylesheet" href="/static/creditcard.css">
</head>
<body>
    <section>
        <nav >
            <ul>
                
            </ul>
        </nav>
        <div class="top-bg">
            <h3 class="heading">Free Airport lounge check-in  <span class="fade">with Credit card</span> </h3>
        </div>
        <div class="box1">
            <div class="desc">
                <h3 class="sub-head">*Avail offers on your credit cards</h3>
                <p> Travelling can often prove to be an exhausting affair in itself.
                    Some of the credit cards provide you with free access to lounges and food for different domestic and international flights. <br>
                    With a perfect Credit Card in your wallet, you will not only earn free entry to the international and domestic airport lounges, it will also benefit you in a wide variety of ways.
                </p>
            </div>
            <div class="stud-img"><img src="/static/images/credit4.png" ></div>
        </div>
        <div class="title-info">
        <h2 >*Best Credit Cards to get Airport Lounge acess:</h2>
        </div>
        <div class="box2">
            <div class="stud-img">
                <img src="/static/images/fly1.jpg" alt="">
            </div>
            <div class="desc">
                <ol  type="1" >
                    <span class="b">1. HDFC Regalia First Credit Card: </span>
                    <li>
                        This Card from HDFC works best for those who spend frequently on travel and dining. Regalia First Credit Card by HDFC Bank offers some exclusive features and benefits.
                        <ul>
                            <li>The card is offered at an Annual Fee and Renewal Fee of Rs. 1,000 plus applicable taxes</li>
                            <li>On payment of membership fee, you get 1000 welcome reward points and renewal benefit of 1000 reward points.On spending Rs. 1,00,000 in a year, your Renewal Fee will be waived for next year.</li>
                            <li>
                                Complimentary access to over 1,000 Priority Pass Airport Lounges across the globe.Access to VISA/MasterCard Lounges.
                                8 complimentary airport lounge access India (both domestic & international terminals) using your Visa/ MasterCard Regalia First Credit Card.
                                Use Priority Pass to avail up to 3 complimentary accesses per calendar year outside India for you and your add on member.
                            </li>
                        </ul>

                    </li>
                </ol>
            </div>
        </div>
        <div class="box3">
            <div class="desc">
                <ul>
                    <span class="b">2. InterMiles ICICI Bank Sapphiro Credit Card</span>
                    <li>The card is offered at a Joining Fee and Annual Fee of  Rs. 5,000
                        You get 10,000 welcome bonus InterMiles along with a complimentary discount code of Rs. 750 on joining.
                    </li>
                    <li>On spending per Rs. 100 on the card, you earn up to 10 InterMiles
                        With DragonPass Membership, get 2 international airport lounge visits & 2 spa sessions at selected airports in India each year.</li>
                    <li>5% discount on booking Economy Class tickets on Etihad Airways
                        10% discount on booking Business Class tickets on Etihad Airways</li>
                </ul>
            </div>
            <div class="stud-img"><img src="/static/images/credit1.jpg" alt=""></div>
        </div>
        <div class="box3">
            <div class="stud-img"><img src="/static/images/credit5.webp" alt=""></div>
            <div class="desc">
                <ul>
                    <span class="b">3.SBI ELITE Credit Card</span>
                    <li>The card comes at an Annual Fee and Renewal Fee of Rs. 4,999 plus taxes.
                        Welcome e- Gift Voucher worth Rs. 5,000</li>
                    <li>Get complimentary Priority Pass Program membership worth $99, under which you can avail 6 complimentary airport lounge visits each calendar year, outside India in over 1000 airport lounges worldwide.</li>
                    <li>Get 2 complimentary visits to domestic airport lounges every quarter in India</li>
                    <li>Complimentary membership to Club Vistara Silver, which gives you 1 complimentary lounge access voucher, 1 upgrade voucher and 9 Club Vistara Points for spending every Rs. 100 on Vistara flights.</li>
                </ul>
            </div>

        </div>
    </section>
    
</body>
</html>