<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domestic Check-List</title>
    <link rel="stylesheet" href="/static/domestic.css">
</head>
<body>
    <section>
        <nav >
            <ul>
                
            </ul>
        </nav>
        <div class="top-bg">
            <h3 class="heading">Check-List for Domestic <span class="fade">Flight travel</span> </h3>
        </div>
        <div>
            <div class="main-im">
                <img src="/static/images/flight13.jpg" alt="">
            </div>
            <div class="data">
                <h2>*Some of the Essential Documents to carry during travel:</h2>
                <ul>
                    <li>
                       <Span class="d">1. ID card</Span>  - The most important document for Air travel and Passport for International Travellers
                    </li>
                    <li><span class="d">2.Tickets</span> - Hard copy / soft copy based on the Airline’s policy</li>
                    <li>
                        <span class="d">3. Boarding Pass</span> - If available or you can print it at the Check-in counters at the Self Kiosk counters at the Airport.
                    </li>
                    <li>
                        <span class="d">4. Mobile phones</span> - with all the necessary travel apps.
                    </li>
                </ul>

            </div>
            <div class="data">
                <h2>*Best practices during flight travel:</h2>
                <ul>
                    <li>
                        1. Ensure to carry all the necessary documents
                    </li>
                    <li>2. Ensure that you abide by the baggage guidelines of the airline of your travel.</li>
                    <li>3. Ensure you reach the Airport at least 2 /3 hours before the scheduled time of departure</li>
                    <li>4. Most Airlines require travellers to check in 2 or three hours before the flight. Check with the Airlines for their regulations.</li>
                    <li> 5. Travel documents should be placed in your hand baggage because you may be asked for it anytime for verification of identity.</li>
                </ul>
            </div>
            <div class="data" id="last-section">
                <div>
                <p>
                    >Upon reaching the Airport, you will be required to show your ID. Officials at the counter will check the required documents to verify your identity. <br><br> >After verification, you will be issued a boarding pass which will have all the details of your travel like Flight number, seat number, scheduled departure time of the flight.
                    <br><br> >If you wish to carry more, check with your airlines on baggage weight allowed before you travel. Each Airline has its own set of guidelines for luggage. Ensure to check with the Airline's website or call the airline regarding the baggage guidelines to avoid the last minute hassles while checking-in at the Airport. Ensure that you do not carry any prohibited items in your baggage or it’ll be confiscated by the officials at the Airport.
                </p>
                </div>
                <div class="im">
                    <img src="/static/images/fly3.png" alt="..">
                </div>
            </div>
            
        </div>

    </section>
    
</body>
</html>