<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International Check-List</title>
    <link rel="stylesheet" href="/static/international.css">
</head>
<body>
    <section>
        <nav >
            <ul>
                
            </ul>
        </nav>
        <div class="top-bg">
            <h3 class="heading">Check-List for International <span class="fade">Flight travel</span> </h3>
        </div>
        <div class="main-im">
            <img src="/static/images/fly4.jpg" alt="">
        </div>
        <div class="data">
            <h2>*Passport, Travel Visa and National ID Card:</h2>
            <p>You should ensure to always have an official identification document with you. You can even consider having multiple documents such as your passport, national ID card or driver’s licence. If you don’t feel comfortable bringing several documents, you can consider bringing copies. These can be especially useful if you lose your passport and must take steps to prove your citizenship at your country’s ambassy or consulate.
                <br><br>
                When traveling abroad, it is also essential to have a valid passport. Many travelers don’t realize that most countries apply rules in regard to the passport expiration date. For most countries, visitors must have a valid passport for six-months after they plan to arrive at their destination, however this period can vary. Either way, if you are planning a trip abroad, always make sure to check the passport validity requirements and the expiry date of your passport. This will help avoid unfortunate issues at the airport or at immigration at your destination country.
            </p>
        </div>
        <div class="data">
            <h2>*Health Travel Documents</h2>
            <p>Health travel documents are not new to international travel. Certain countries have long lasting entry requirements such as yellow fever vaccination certificates, however this was limited to specific countries whereas the COVID-19 travel document entry requirements have been enforced by the majority of countries around the world. Currently, we are seeing a reduction in COVID-19 travel restrictions, however it's still important to check the latest rules before your departure as some might be implemented at a short notice.
                <br><br>
                IATA has put in place several solutions such as the IATA Travel Centre to help travelers and IATA Timatic Widget to help businesses navigate this ever changing environment. The common platform (database) used to verify the latest COVID-19 travel document requirements is IATA Timatic. Timatic is powered by human-validated data, meaning a team of immigration specialists checks each update manually with IATA’s Sourcing Network of official sources to make sure the information is correct. An update is only done once one of the 2,000 government or airline officials from the respective country confirms the change. The team also verifies conflicting reports and make updates only when they’re 100% sure they’re accurate
            </p>
        </div>
        <div class="data">
            <h2>*Medical and Travel Insurance Proof</h2>
            <p>Unforeseen situations can occur and they can be especially stressful when you are abroad. That is why travel insurance is important. Travel insurance can be summed up in two main categories:
                <ul>
                    <li>1. Insurance for medical expenses and</li>
                    <li>2. Insurance for trip cancelations.</li>
                </ul>
                <br>
                It is important to have a copy of your travel insurance certificate with you. Insurance companies often provide a printer-friendly card or summary that includes emergency contact details which you should always have with you or you can use their mobile app so that you have all the required information at your fingertips. It is also recommended to contact your insurance provider to verify what exactly is covered under your insurance plan.
            </p>
        </div>
        <div class="data">
            <h2>*Other Documents</h2>
            <p>Since the start of the COVID-19 pandemic several countries have introduced passenger locator forms which must be presented at check-in or at immigration. After filling the form, travelers are often provided with a QR code or a reference number. Other documents could also be required, that is why it is always important to check what is required for your trip when planning your holiday and ideally verifying the requirements once again closer to your departure date as entry rules and regulations change on a daily basis.</p>
        </div>
        <div class="data">
            <h2>*Where Can you Find the Latest Travel and Health Document Requirements?</h2>
            <p>When planning a trip, use the IATA Travel Centre for personalized passport, visa and health requirements advice based on your personal details and itinerary. The COVID-19 travel regulations map will also guide you in relation with the the latest COVID-19 requirements. Both tools are powered by IATA Timatic. Since 1963, Timatic has been providing the latest travel document and regulation rules for over 220 countries collected from over 2,000 sources and updated in real-time up to 200 times a day. The database covers the following areas:
                <ul>
                    <li>1. <b>Passport</b> requirements and recommendations</li>
                    <li>2. <b>Visa</b> requirements and recommendations:</li>
                    <li>3. <b>Health</b> requirements and recommendations</li>
                    <li>4. <b>Airport</b> tax information</li>
                    <li>5. <b>Customs</b> regulations concerning the import and export of goods and small pets</li>
                </ul>
            </p>
            
        </div>
    </section>
    
</body>
</html>