<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Offers</title>
    <link rel="stylesheet" href="/static/student1.css">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />

</head>
<body>
    <section>
        <nav >
            <ul>

            </ul>
        </nav>
        <div class="top-bg">
            <h3 class="heading">Best offers on flight travel <span class="fade">for Students</span> </h3>
            <div class="box1">
                <div class="desc">
                    <h3 class="sub-head">*Student fares discount with domestic flights</h3>
                    <p> If you are a student in any educational institution in India, enjoy good discounts on domestic flights. Travel anywhere in India and find the cheapest deals on flights with student discounts. <br>
                        Air India, GoAir, IndiGo and Vistara are among the major domestic airlines offering student discount on flights. In addition, students can enjoy certain privileges on baggage allowances across some of the aforementioned airlines
                    </p>
                </div>
                <div class="stud-img"><img src="/static/images/fly7.webp" alt=""></div>
            </div>
            <div class="box2">
                <div class="stud-img"><img src="/static/images/fly6.webp" alt=""></div>
                <div class="desc">
                    <h3 class="sub-head">
                        *Different airlines provide variety of offers for students to travel back home from college campus.
                    </h3>
                        
                        <ul>
                            <li>To avail student discounts on all domestic flights, students who are 12 years and above, need to provide a valid ID card issued by the school or university while checking in at the airport.</li>
                            <li>A student has to book an Air India flight ticket 3 days before departure to enjoy. On the other hand, to avail the student discount on a flight with Vistara, the student has to book a ticket 7 days beforehand.</li>
                            <li>For GoAir, IndiGo and SpiceJet domestic flights, the student discount is applicable for both one-way and round trip flights</li>
                        </ul>
                </div>
            </div>
            <div class="box3">
                <h3 class="sub-head"></h3>
                <div class="descr">
                <ul>
                    <li><span class="b">GoAir: </span>On a GoAir domestic flight, the student fare amounts to a 15% discount on base fare. A student also is allowed to carry 25 kg of baggage on any flight with this airline.</li>
                    <li><span class="b">IndiGo: </span>IndiGo offers flights with student discounts up to 6% of the base fares. Along with the standard baggage allowance, a student gets to carry an additional weight of 10 kg. However, this discount option is available only for bookings made until 31st March, 2021.</li>
                    <li><span class="b">Vistara: </span>A student booking a Vistara domestic flight under Economy Class and Economy Flexi will get a discount of 10% of the base fares. If a student opts for Economy Lite, s/he will be able to avail a 5% discount. The baggage allowance will remain free based on the class chosen.</li>
                    <li><span class="b">SpiceJet: </span>SpiceJet allows a student discount of 6% on all domestic flights. Additionally, the student will also be able to carry 25 kg of baggage.</li>
                    <li><span class="b">Air India: </span>Air India offers a 50% discount on the base fare of an Economy Class cabin.</li>
                </ul>
            </div>
            </div>
        </div>
    </section>
<py-script >


</py-script>
    
</body>
</html>